body{

   margin-left: 3rem;
   margin-right: 3rem;
}

body>header, footer {

    background-color: brown;
    color: beige;
    padding: 1rem;
}



nav ol, nav ul{
    margin: 0;
    padding: 0;
    list-style: none;    
}

nav li {

    display: inline-block;
}

nav a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 0.5rem 1rem;
    /* border:1px solid; */
}